@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}

.ball_first {
  animation: ballfirst 1.5s ease-in-out infinite;
}

.ball_second {
  animation: ballsecond 1.3s ease-in-out infinite;
}

.ball_third {
  animation: ballthird 1.3s ease-in-out infinite;
}

.shape {
  border-top-right-radius: 0%;
  border-top-left-radius: 100%;
  animation: shape 1.3s ease-in-out infinite;
  position: relative;
  right: 25%;
  top: 65px;
}

.ball_width {
  animation: widthball 1.3s ease-in-out infinite;
}

.carousel-status {
  display: none !important;
}

.thumb {
  width: 101px !important;
  border: none !important;
}

.carousel .thumb.selected {
  border: 1px solid #FFF !important;
  border-radius: 3px;
}

.carousel .thumb img {
  vertical-align: top;
  height: 56px;
  /* object-fit: cover; */
  width: 105px !important;
  border-radius: 3px;
}

.control-dots {
  display: none !important;
}

@keyframes ballfirst {
  0%   {transform: translate(20px, 1.5px)}
  50%  {transform: translate(-5px , 0.5px)}
  100% {transform: translate(20px, 1.5px)}
}

@keyframes ballsecond {
  0%   {transform:translate(-15px , -2px) rotate(10deg)}
  50%   {transform: translate(15px, 0px) rotate(-20deg)}
  100% {transform:translate(-15px , -2px) rotate(10deg)}
}


@keyframes ballthird {
  0%   {transform:translate(-15px , -2px) rotate(10deg) }
  50%   {transform: translate(15px, -3px) rotate(-20deg)}
  100% {transform:translate(-15px , -2px) rotate(10deg)}
}

@keyframes shape {
  0%   {transform:rotate(-142deg) }
  50%   {transform: rotate(-134deg) }
  100% {transform:rotate(-142deg) }
}

@keyframes widthball {
  0%   {height: 145px }
  25%   {height: 135px }
  50% {height: 145px }
  75% {height: 155px }
  100% {height: 145px }
}